<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            .input {
                display: flex;
            }
        </style>
        <script>
            function deleteTask(id){
                console.log(id)
                window.location.assign(`/todo/delete/${id}`)
            };
        </script>
    </head>
    <body>
        <h1>My to do list</h1>
        <ul>
            <% for (var i =0; i < tasks.length; i++ ) { %>
            <li id=<%= i %>> <button onclick="deleteTask(<%= i %>)">X</button> <%= tasks[i] %></li>
            <br />
            <%# will output the numbers 1-10 %> <% } %>
        </ul>
        <form action="/todo/add" method="POST" class="input">
            <label for="task">What should i do?</label>
            <input autofocus required minlength="3" type="text" name="task" id="task" />
            <button type="submit">confirm</button>
        </form>
    </body>
</html>
